<div style="display: flex; flex-flow: column; height: 100%;">
  <app-toolbar></app-toolbar>

  <mat-sidenav-container style="flex: 1">
    <mat-sidenav #sidenav opened="true" mode="side" >
      <mat-nav-list>
        <a mat-list-item href="dashboard/problems"> Problems </a>
        <a mat-list-item href="dashboard/assignments"> Assignments </a>
        <a mat-list-item href="dashboard/groups"> Groups </a>
        <a mat-list-item href="dashboard/users"> Users </a>
        <a mat-list-item href="dashboard/queue"> Queue </a>
      </mat-nav-list>
    </mat-sidenav>
    
    <div style="margin: 20px">
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-container>
</div>