<div style="display: flex;
  flex-flow: column; height: 100%;  background-color: aliceblue;">
  
  <app-toolbar></app-toolbar>
  
  <div style="padding: 20px;">
    <h1 class="mat-headline"> Groups </h1>
    <div class ="card-container">
      <mat-card *ngFor="let group of groups"
                style="display: flex; padding-top: 20px; padding-bottom: 20px; align-items: center; "
                (click) = "onGroupClick(group.id)">
        <mat-card-title style="margin: auto;"> {{group.groupname}}</mat-card-title>
      </mat-card> 
     </div>
   </div>
</div>