<mat-card >
  <mat-card-title style="width: 100%; display: flex;"> 
    {{assignment?.name}}
    <span style="flex: 1 1 auto;"></span> 
    110 / 300 
  </mat-card-title>

  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-nav-list>
      <a *ngFor="let problem of problems;"
         mat-list-item 
         (click)="onProblemClicked(problem)"> 
        <mat-icon style="color: green; width: 40px;">done</mat-icon>  {{problem.name}} 
      </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card> 