<mat-card >
  <mat-card-title style="width: 100%; display: flex;"> 
    NOI 2nd round 
    <span style="flex: 1 1 auto;"></span> 
    110 / 300 
  </mat-card-title>

  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-nav-list>
      <a mat-list-item href="contest/problem/1"> <mat-icon style="color: green; width: 40px;">done</mat-icon>  Problem 1 </a>
      <a mat-list-item href="contest/problem/2"> <mat-icon style="color: red; width: 40px;">error</mat-icon> Problem 2 </a>
      <a mat-list-item href="contest/problem/3"> <mat-icon style="color: red; width: 40px;">error</mat-icon> Problem 3 </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card> 