
<mat-card>
  <div class="submission-info-section">
    <div class="info-item">
      <span class="info-label">Id</span>
      <span>{{submission?.id}}</span>
    </div>
    <div class="info-item">
      <span class="info-label">Time</span>
      <span>{{submission?.time}}</span>
    </div>
    <div class="info-item">
      <span class="info-label">User</span>
      <span>{{submission?.username}}</span>
    </div>
    <div class="info-item">
      <span class="info-label">Problem</span>
      <span>{{submission?.name}}</span>
    </div>
    <div class="info-item">
      <span class="info-label">Langauge</span>
      <span>{{submission?.language}}</span>
    </div>  
    <div class="info-item">
      <span class="info-label">Verdict</span>
      <span>{{submission?.verdict}}</span>
    </div>
  </div>
</mat-card>

<mat-card class="card-code" *ngIf="submission?.reason != ''">
<pre>
{{submission?.reason}}  
</pre>
</mat-card>


<mat-card class="card-tests" *ngIf="submission?.details">
      
  <app-long-table 
    title="Test Details"
    paginate="true"
    pageSize="10"
    [data]="submission?.details">
  </app-long-table>

</mat-card>

<mat-card class="card-code">
<pre>
{{submission?.source}}
</pre>
</mat-card>