<mat-card>
  <mat-card-title> Submit code </mat-card-title>

  <mat-divider></mat-divider>
  
  <form class="submit-code-form">
    <mat-form-field>
      <mat-select placeholder="Problem" name="food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <mat-select placeholder="Language" name="lang">
        <mat-option *ngFor="let lang of langs" [value]="lang.value">
          {{lang.viewValue}}
        </mat-option>
      </mat-select>  
    </mat-form-field>
    
    <mat-form-field class="code-input" >
      <textarea matInput placeholder="Your code" rows="25" cols="80"></textarea>
    </mat-form-field>
    <button class="submit-btn" mat-raised-button color="primary">Submit</button>
  </form>
  
</mat-card> 