<div style="display: flex; flex-flow: column; height: 100%;">
  <mat-toolbar color="primary">
    <span>Pesho org</span>
  </mat-toolbar>

  <mat-sidenav-container style="flex: 1">
    <mat-sidenav #sidenav opened="true" mode="side" >
      <mat-nav-list>
        <a mat-list-item href="contest/problems"> Problems </a>
        <a mat-list-item href="contest/submit"> Submit code </a>
        <a mat-list-item href="contest/submissions"> My Submissions </a>
        <a mat-list-item href="contest/standings"> Standings </a>
      </mat-nav-list>
    </mat-sidenav>
    
    <div style="margin: 20px">
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-container>
</div>