<div style="display: flex; flex-flow: column; height: 100%;">
  <app-toolbar></app-toolbar>

  <mat-sidenav-container style="flex: 1">
    <mat-sidenav #sidenav opened="true" mode="side" >
      <mat-nav-list>
        <a mat-list-item href="home"> Home </a>
        <a mat-list-item href="groups/1"> ПЧМГ2018 </a>
        <div *ngIf="contestId">
          <mat-divider></mat-divider>
          <a mat-list-item href="groups/1/contest/{{contestId}}/problems"> Problems </a>
          <a mat-list-item href="groups/1/contest/{{contestId}}/submit"> Submit code </a>
          <a mat-list-item href="groups/1/contest/{{contestId}}/submissions"> My Submissions </a>
          <a mat-list-item href="groups/1/contest/{{contestId}}/standings"> Standings </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    
    <div style="margin: 20px">
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-container>
</div>