<mat-card>
  <mat-card-title style="width: 100%; display: flex;"> 
    Hello world {{id}}  
    <span style="flex: 1 1 auto;"></span> 
    <button mat-icon-button> <mat-icon>edit</mat-icon> </button>
    
    <button mat-icon-button (click)="onRejudge()"> 
      <mat-icon>gavel</mat-icon> 
    </button>
    
    <button mat-icon-button (click)="onAddToAssignment()"> 
      <mat-icon>playlist_add</mat-icon> 
    </button>
    
  </mat-card-title>
  
  <mat-divider></mat-divider>
  <div class="problem-desc">
  Отпечатайте  <br/>
<pre> Hello, World!  </pre>
  <br/>
  * На края на програмата НЕ трябва да има нов ред
  </div>
  
</mat-card>
<mat-card class = "limits-card">
  <mat-card-title> Ограничения </mat-card-title>
  <mat-divider></mat-divider>
  <app-long-table 
    [data]="limits">
  </app-long-table>
</mat-card> 

<app-submit-code></app-submit-code> 