<mat-card>
  <mat-card-title> Hello world {{id}} </mat-card-title>
  <mat-divider></mat-divider>
  <div class="problem-desc">
  Отпечатайте  <br/>
<pre> Hello, World!  </pre>
  <br/>
  * На края на програмата НЕ трябва да има нов ред
  </div>
  
</mat-card>
<mat-card class = "limits-card">
  <mat-card-title> Ограничения </mat-card-title>
  <mat-divider></mat-divider>
  <mat-table #table [dataSource]="dataSource">
    <!-- Color Column -->
    <ng-container matColumnDef="lang">
      <mat-header-cell *matHeaderCellDef> Language </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lang}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="space">
      <mat-header-cell *matHeaderCellDef> Space </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.space}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card> 

<app-submit-code></app-submit-code>