<mat-toolbar color="primary">  
  <span>Pesho org</span>
  <span style="flex: 1 1 auto;"></span>
  
  <button mat-icon-button [matMenuTriggerFor]="menu"> 
    <mat-icon class="example-icon">add</mat-icon> 
  </button>
  
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="contest/joingroup">
      <mat-icon>people</mat-icon>
      <span>Join Group</span>
    </a>
    <a mat-menu-item href="dashboard/addproblem">
      <mat-icon>assignment</mat-icon>
      <span>Add Problem</span>
    </a>
    <a mat-menu-item href="dashboard/addassignment">
      <mat-icon>group_work</mat-icon>
      <span>Add Assignment</span>
    </a>
    <a mat-menu-item href="dashboard/addgroup">
      <mat-icon>group_add</mat-icon>
      <span>Add Group</span>
    </a>
  </mat-menu>
</mat-toolbar>